<div class="card">
  <h3>NSE Stocks Update</h3>
  <br />
  <div style="display: inline-flex;">
  <p>
    NSE Stocks &nbsp;&nbsp;
    <input type="text" placeholder="Search by name..." [(ngModel)]="searchText" /> &nbsp;&nbsp;
    <button style="width: 20px; height: 20px;" (click)="onSearch()"></button>
  </p>
  <div class="box-holder">
    <ng-container *ngFor="let item of globalQuote | keyvalue;">
    <stock-card-box [text]="item"></stock-card-box>
  </ng-container>
    </div>
  </div>
</div>
<div class="analytics">
  <h4>Weekly Analytics</h4>

  <!-- <p>{{data | json}}</p> -->

  <p>Click selection to view detailed weekly analytics</p>
</div>
<div class="container">
  <div class="left-column">
    <ng-container *ngFor="let item of stocksList; let i; of: stocksList.length">
      <button class="stocks-list" (click)="onStockSelection(item)">
        {{ item.name }}</button
      ><br />
    </ng-container>
  </div>

  <div class="right-column">
    <stock-line-chart
      [lineChartData]="stockCharts"
      [lineChartLabels]="lineChartLabels"
      [lineChartLegend]="lineChartLegend"
      [lineChartType]="lineChartType"
      [lineChartColors]="lineChartColors"
      [lineChartPlugins]="lineChartPlugins"
    ></stock-line-chart>
    <stock-table-data [weekDates]="weekDates"></stock-table-data>
  </div>
</div>
